<h1 align='center'><font size =10 color='gold'>Segmentation and Clustering Neighborhood in Toronto --2</font></h1>
<h3>By Gaurav Bhardwaj</h3>

Importing Modules required for this `Notebook`:

In [1]:
import pandas as pd # library for data analsysis
print('Libraries imported.')

Libraries imported.

Collecting data by using Web Scarping Method.

Visualizing the collected Data

In [2]:
df1 = pd.read_csv('http://cocl.us/Geospatial_data')
print('Data downloaded!')

Data downloaded!

In [3]:
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
link = "https://raw.githubusercontent.com/Shekhar-rv/Coursera_Capstone/master/df_can.csv"
df2 = pd.read_csv(link,index_col=0)
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge ,Malvern
1      M1C  Scarborough  Highland Creek ,Rouge Hill ,Port Union
2      M1E  Scarborough       Guildwood ,Morningside ,West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [10]:
df2.rename({'Postcode':'Postal Code'},axis = 1,inplace=True)
df2.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Rouge ,Malvern
1         M1C  Scarborough  Highland Creek ,Rouge Hill ,Port Union
2         M1E  Scarborough       Guildwood ,Morningside ,West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [11]:
data = pd.merge(df1,df2,on="Postal Code")
data.head()

,Postal Code,Latitude,Longitude,Borough,Neighbourhood
0,M1B,43.806686,-79.194353,Scarborough,"Rouge ,Malvern"
1,M1C,43.784535,-79.160497,Scarborough,"Highland Creek ,Rouge Hill ,Port Union"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood ,Morningside ,West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae

Closing the data by saving to `.csv` file and Checking it's Shape :

In [12]:
data.to_csv(r"New_dataFrame.csv")